<?xml version="1.0"?>
<!--
/**
 * HexBrain
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to version 3 of the GPL license,
 * that is bundled with this package in the file LICENSE, and is
 * available online at http://www.gnu.org/licenses/gpl.txt
 *
 * @category    Hexbrain
 * @package     Hexbrain_Ajaxizer
 * @copyright   Copyright (c) 2013 HexBrain. (http://www.hexbrain.com)
 * @license     http://opensource.org/licenses/gpl-3.0.html  GNU General Public License, version 3 (GPL-3.0)
 */
-->
<config>
    <modules>
        <Hexbrain_Ajaxizer>
            <version>0.1.1</version>
        </Hexbrain_Ajaxizer>
    </modules>
    <global>
        <helpers>
            <hb_ajaxizer>
                <class>Hexbrain_Ajaxizer_Helper</class>
            </hb_ajaxizer>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <hexbrain_ajaxizer>
                    <file>hexbrain/ajaxizer.xml</file>
                </hexbrain_ajaxizer>
            </updates>
        </layout>
        <routers>
            <catalog>
                <args>
                    <modules>
                        <Hexbrain_Ajaxizer before="Mage_Catalog">Hexbrain_Ajaxizer</Hexbrain_Ajaxizer>
                    </modules>
                </args>
            </catalog>
            <catalogsearch>
                <args>
                    <modules>
                        <Hexbrain_Ajaxizer before="Mage_CatalogSearch">Hexbrain_Ajaxizer</Hexbrain_Ajaxizer>
                    </modules>
                </args>
            </catalogsearch>
        </routers>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <hb_ajaxizer>
                                            <title>Ajaxizer Configuration</title>
                                        </hb_ajaxizer>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
